//Theme
$theme-red: #FF415C;   //#FF415C
$theme-blue: #FF415C;  //#127AFF

//Complimentary
$purple: #7349AC;
$burgundy: #B31E35;
$orange: #FF6146;
$pink: #FF5A72;

//Text
$title: #000000;
$paragraph: #112244;

//Backgrounds & Gradients
$accent: linear-gradient(224deg, #02102c 0%, #124 100%);
$white: #FFFFFF;
$light-gray: #F7F9FE;
$blue-blur: #0B3470;
$burgundy-blur: #712D4A;
$main-bg: black;
$them: #1c1e20;

//Gray Shadows
$gray-sh1: #F3F6FB;
$gray-sh2: #E6EFF7;
$gray-sh3: #C6D0DB;
$gray-sh4: #899FB6;
$gray-sh5: #5E6D8E;
$gray-sh6: #394663;

//other
$low-white: rgba(255, 255, 255, 0.1);