.skills-section {
  margin: 0 auto;
  padding: 72px 0;
  position: relative;

  @media screen and (min-width: $sm-min-screen) {
    padding: 96px 26px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    & h2 {
      color: $title;
      margin-bottom: 40px;

      @media screen and (min-width: $sm-min-screen) {
        margin-bottom: 64px;
        align-self: flex-start;
        max-width: 880px;
      }

      & span {
        color: $theme-blue;
      }
    }
  }

  &__body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -20px 0;

    @media screen and (min-width: $sm-min-screen) {
      margin: -28px -36px;
    }

    .skills-section__card_wrapper {
      position: relative;
      z-index: 1;
      padding: 20px 0;
      width: 100%;

      @media screen and (min-width: $sm-min-screen) {
        padding: 28px 36px;
        max-width: 50%;
      }

      &:hover {
        .skills-section__body_card_link {
          & span {
            &:after {
              animation-name: after-arrow-animation;
              margin-left: 14px;
            }

            &:before {
              animation-name: before-arrow-animation;
              margin-left: 14px;
            }
          }
        }
      }
    }

    &_card {
      color: $paragraph;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: 0.3s;
      height: 100%;

      &:hover {
        color: $paragraph;
      }

      &_data {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & h4 {
          font-weight: 600;
        }

        & p {
          font-size: 14px;
          line-height: 156%;
          margin-top: 8px;

          @media screen and (min-width: $sm-min-screen) {
            font-size: 18px;
            margin-top: 16px;
          }
        }
      }

      &_link {
        position: relative;
        margin-top: 16px;
        color: $theme-red;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;

        @media screen and (min-width: $sm-min-screen) {
          margin-top: 24px;
        }

        & span {
          position: relative;
        }
      }
    }
  }
}